/* Default Setting */
body{
	margin:0px;
	padding: 0px;
	font-family: 'arial';
	font-size: 14px;
	background-color: #f5f5fa;
}
.container{
	width: 100%;
}
h4{
   font-size: 16px;
   color: #7cb2ed;
   font-weight: normal;

}
/* Left Container */
.container-left{
	position: fixed;
	width: 264px;
	float: left;
    background-color: #2f323a;
    min-height: 300px;
    z-index: 100;
}
.logo{
	text-align: center;
  	height: 60px;
  	background-color: #1e2025;
  	line-height: 70px;
}
.navigationtitle{
  	font-size: 16px;
  	text-align: left;
  	color: #575a5f;
  	padding: 10px 0px;
  	margin: 10px 20px 0 20px;
  	border-bottom: 1px #575a5f solid;
}
.menu a{
	text-align: left;
  	font-size: 14px;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: normal;
  	color: #ffffff;
	text-decoration: none;
}
.menu ul{
  	list-style: none;
  	padding: 0px;
}
.menu ul li{
  	cursor: pointer;
  	text-decoration: none;
  	padding: 15px;
}
.menu ul li:hover{
  	background-color: #000;
  	padding: 15px;
}
.menu ul li.active{
  color: #fff!important;
  text-decoration: none;
  background-color: #000;
}
.menu ul li a{
  padding: 15px;
}
.menu ul li:hover a{
  background-color: #000;
  padding: 15px;
}
.menu ul li a i{
  margin-left: -5px;
  color: #7cb2ed;
  padding-right: 15px;
}

/* Main Container*/
.container-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.top-info{
    background-color: #2f323a;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 15px;
    color: #fff;
}

.container-activity{
	position: relative;
	padding-top: 80px;
	z-index: 0;
}

/* inner page container */
.inner-container{
	position: relative;
	margin-left: 300px;
	padding-bottom: 70px;
	width: 75%;
}

/* New page */
.news-container{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.news-box {
    background-color: #fff;
    border: solid 1px #e7e7ed;
    border-radius: 6px;
    margin-bottom: 20px; 
    font-size: 14px;
    color: #666666;

}
.news-top{
	font-size: 12px;
    padding: 20px;
}
.news-title{
	color: #5c9df5;
	float: left;
}
.news-date{
	color: #b9b9b9;
	float: right;
}
.title-text{
	font-size: 16px;
	color: #3c454c;
	padding: 0 20px;
}
.pic{
	width: 100%;
}
.body-text{
	padding: 0 20px;
}
.icons{
	border-top: solid 1px #e7e7ed;
	padding: 10px 24px;
	height: 20px;
	color: #c0c8d1;
	font-size: 16px;

}
.icons div{
	float: left;
	width: 33.333%;
	text-align: center;
}
.icons div.left-icon{
	text-align: left;
}
.icons div.right-icon{
	text-align: right;
}

/* Chart Options */
.chart-container{
  width: 100%;
  position: relative;
  padding: 10px;
}
.chart-panel{
  position: relative;
  background: #ffffff;
  box-shadow:0px 0px 1px 1px #dedede;
  -webkit-box-shadow:1px 1px 1px 1px #dedede;
  -moz-box-shadow:1px 1px 1px 1px #dedede;
  padding: 15px;
  color: #7cb2ed;
  font-size: 16px;
  height: 300px;
  clear: both;
  margin: 10px;
}
.chart-header{
  width: 100%;
  height: 50px;
}
.chart-header h4{
  float: left;
}

.chart-container .chart-half-container{
  width: 50%;
  margin-bottom: 50px;
  float: left;
}
.panel {
    position: relative;
    background: #ffffff;
    height: 250px;
    box-shadow:0px 0px 1px 1px #dedede;
    -webkit-box-shadow:1px 1px 1px 1px #dedede;
    -moz-box-shadow:1px 1px 1px 1px #dedede;
    margin: 10px;
    padding: 15px;
    color: #7cb2ed;
    font-size: 16px;
}

/* Chart Css*/
#line{
  margin-top: 10px;
  height: 230px!important;
}

#base{
  margin-top: 10px;
  height: 230px!important;
}

#doughnut{
  margin-top: 10px;
  width: 230px !important;
  height: 230px!important;
}

.box{
  width:30%;
  float: left;
  margin-right: 15px;
}
.padding-bottom{
  padding-bottom: 50px;
}
.chart-icons{
  float: right;
}
.chart-icons span{
  margin: 0 5px;
}
.chart-icons span i{
  color: #c0c8d1;
  font-size: 18px;
  cursor: pointer;
}

.bottom-menu{
  margin-top: 100px;
}

/* footer */
.container-bottom{
  color: #696a6d;
  background-color: #2f323a;
  text-align: right;
  padding: 15px;
  z-index: 1000;
  width: 100%;
  position: fixed;
  bottom: 0;
}
