<div class="inner-container news-container">
	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>

	<div class="news-box">
		<div class="news-top">
			<span class="news-title">Chain Store Age</span><span class="news-date">Feb 22, 2016</span>
		</div>
		<div>
			<p class="title-text">Billabong taps NetSuite to power omnichannel strategy</p>
			<img class="pic" src="assets/img/001.jpg">
			<p class="body-text">Marianne WilsonNetSuite Inc., a provider of cloud-based financials, ERP and and omnichannel software suites, said that boardsports retailer Billabong International Ltd. selected NetSuite...</p>
			<div class="icons">
				<div class="left-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
				<div class="center-icon"><i class="fa fa-thumbs-up" aria-hidden="true">132</i></div>
				<div class="right-icon"><i class="fa fa-share" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
</div>