<div class="container">
    <div class="row web-container">
        <div ui-view="leftContanier" class="container-left"></div>
        <div ui-view="mainContainer" class="container-main"></div>
        <div ui-view="footerContainer" class="container-bottom"></div>
    </div>
</div>