<div class="logo">
  <a href="#/" alt="Activity Data" title="Activity Data"><img src="assets/img/logo.png"></a>
</div>
<div class="navigationtitle">NAVIGATE</div>
<div class="menu">
  <ul>
    <li><a href="#/"><i class="fa fa-line-chart" aria-hidden="true"></i> Analytics</a></li>
    <li><a href="#/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</a></li>
    <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Board Breif</a></li>
    <li><a href="#"><i class="fa fa-suitcase" aria-hidden="true"></i> Briefcase</a></li>
  </ul>
  <ul class="bottom-menu">
  	<li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Close menu</a></li>
  </ul>
</div>
<script type="text/javascript">
	$(document).ready(function() {
	    var document_height = $(window).height();
	    var $leftCon = $('.container-left');
	    $leftCon.css("height",document_height);
	    $(window).on('resize', function(){
	       var height = $(this).height();
	       $leftCon.height(height);
	    }).trigger('resize');
	});
</script>