<div class="inner-container">

	<div class="chart-container">
		<div class="chart-panel">
			<div class="chart-header">
				<h4>Speed Zone</h4>
				<div class="chart-icons">
				    <span><i class="fa fa-expand" aria-hidden="true"></i></span>
				    <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
			    </div>
			</div>
			<div class="chart">
				<canvas id="line" class="chart chart-line" chart-data="linedata"
			    chart-labels="linelabel" chart-series="series" chart-colors="colors" chart-options="options"
			    chart-dataset-override="datasetOverride">
			    </canvas>
			</div>
		</div>
	</div>
	<div class="chart-container padding-bottom">
		<div class="chart-half-container">
			<div class="chart-panel">
				<div class="chart-header">
					<h4>Count by Zone</h4>
					<div class="chart-icons">
				    <span><i class="fa fa-expand" aria-hidden="true"></i></span>
				    <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
			    </div>
				</div>
				<div class="chart">
					<canvas id="base" class="chart-bar"
					  chart-data="data" chart-labels="labels" >
					</canvas>
				</div>
			</div>
		</div>
		<div class="chart-half-container">
			<div class="chart-panel">
				<div class="chart-header">
					<h4>Speed Average</h4>
					<div class="chart-icons">
				    <span><i class="fa fa-expand" aria-hidden="true"></i></span>
				    <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
			    </div>
				</div>
				<div class="chart">
					<canvas id="doughnut" class="chart chart-doughnut"
					  chart-data="doughnut_data" chart-colors="colors" chart-labels="doughnut_label">
					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>